@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">  Reload Welcome</h1>
    <p>Learn about mamak <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
